<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/blog.css">
    <title>Blog</title>
</head>
<body>



    <section>
    <a class='lined thick'>My Blog</a>
  </section>




    
<!----> <div id ='one'>
  <p>
    <h1><%= article.title %></h1>
    <p class="date-time">
        <%= article.createdAt.toLocaleDateString() %>
    </p style="font-size: smaller;">
    <%= article.description %>
  </p>
  <div><%- article.sanitizedHtml %></div>
  </div>
    <a href="/" class="all-button">All Articles</a>
    <a href="/articles/edit/<%= article.id %>" class="edit-button">Edit</a
    ><!---->
 
</body>
</html>

    
  </body>
</html>
