<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/blog.css">
    <title>Blog</title>
</head>
<body>



    <section>
    <a class='lined thick'>My Blog</a>
  </section>


  <% articles.forEach(article => { %>

    
<!----> <div id ='one'>
  <p>
    <h1><%= article.title %></h1>
    <p class="date-time">
        <%= article.createdAt.toLocaleDateString() %>
    </p>
    <%= article.description %>
  </p>
  <a href="/articles/<%= article.id %>" class="more-button">Read</a>
  <form action="/articles/<%= article.id %>?_method=DELETE" method="POST">  
     <button type="submit" class="delete-button">Delete</button>
  </form>
  </div>
    <% }) %>
  <a href="/articles/new" class="map-button">New Article</a><!----> 
 
</body>
</html>